/* Core AdBlock stylesheet. */

@import "fonts/font-face.css";

/*
-----------------------------------------------------------------------------
Global Styles
-----------------------------------------------------------------------------
*/

:root {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: #333333;
  --popup-entry-hovered-bg-color: #e6e6e6;
  --popup-block-ads-bg-color: #f4f4f4;
  --block-count-color: #ce0707;
  --background-color: white;
  --link-color: #1855ed;
  --adblock-logo-url: url(icons/default_theme/logo_svg.png);
  --popup-button: #ffca00;
  --popup-button-text: #666666;
  --popup-button-disabled-text: #666666;
  --popup-link-text: #1855ed;
  /* Additional for Options Page */
  --main-text-color: #666666;
  --sidebar-bg-color: #f1f1f1;
  --checkbox-bg-color: #03bcfc;
  --not-selected-checkbox-bg-color: #e6e6e6;
  --bottom-line-color: #e6e6e6;
  --help-icon-color: #c8c8c8;
  --help-icon-color-hovered: #666666;
  --link-hovered-color: #f30d12;
  --sidebar-link-hovered-color: #333333;
  --customize-dropdown-menu-icon-color: #f30d12;
  --standout-text-color: #f30d12;
  --active-tab-color: #666666;
  --select-language-border-top-width: 1px;
  --unselected-toggle-border-color: #e6e6e6;
  --mab-feature-card-header-locked-bg: #e6e6e6;
  --mab-feature-card-header-unlocked-bg: #666;
  --mab-feature-card-header-text-color: white;
  --mab-teaser-card-header-text-color: #666;
  --mab-feature-card-text-color: #666;
  --mab-feature-card-body-bg: #f4f4f4;
  /* Defaults for all themes:
     These are all the same for the current themes,
     but might be differentiated in future themes */
  --teaser-theme-box-color: #666666;
  --mab-button-bg: #ffca00;
  --options-button-bg: #ff363b;
  --options-button-bg-hover: #e40d0d;
  --options-button-disabled-bg: #999999;
  --options-button-disabled-bg-hover: #666666;
  --options-button-text: white;
  --mab-button-text: #333333;
  --sync-msg-background-color: #2284f7;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-accent-color: var(--popup-main-text-color);
  --popup-link-hovered: var(--block-count-color);
  --options-page-accent-text: var(--popup-main-text-color);
  --speech-bubble-border-color: var(--bottom-line-color);
  --hide-mab-enrollment: var(--help-icon-color);
  --loading-ellipses: var(--help-icon-color);
  --mab-feedback-button-border: var(--help-icon-color);
  --header-social-icons: var(--active-tab-color);
  --image-swap-section-bg-unselected: var(--sidebar-bg-color);
  --image-swap-section-bg-selected: var(--background-color);
  --sync-error-msg-background-color: var(--options-button-bg-hover);
  --mab-enrollment-success: var(--checkbox-bg-color);
  --sync-msg-color: var(--options-button-text);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-family: "Lato", Arial, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
textarea::-webkit-scrollbar {
  width: 14px;
}
textarea::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #e6e6e6;
  background-clip: content-box;
  border: 3px solid transparent;
}

/*
-----------------------------------------------------------------------------
Icons global styling (needs to @import 'fonts/font-face.css')
-----------------------------------------------------------------------------
*/

.material-icons {
  font-family: "Material Icons";
}


.material-icons {
  color: #999;
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Stacking 2 icons */
.md-stack {
  display: inline-block;
  height: 24px;
  width: 24px;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

/* default circular background for 24px icons */
.circle-icon-bg-24 {
  background-color: white;
  clip-path: circle(9.6px);
  -webkit-clip-path: circle(9.6px);
}

/* Rules for sizing the icon. */
.material-icons.md-14 {
  font-size: 18px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-64 {
  font-size: 64px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Screen reader only content */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
