@import "adblock.css";

body {
    color: var(--popup-main-text-color);
    background-color: var(--background-color);
}

#wrapper {
    font-size: 15px;
    margin: 0px 0px 6px 0px;
    width: 275px;
    max-height: 606px;
}

.separator {
    height: 1px;
    background-color: var(--popup-accent-color);
    opacity: 0.5;
    margin: 0px 10px;
}

.separator.hide-on-new-cta-hover {
    background-color: var(--background-color);
}

.menu-entry {
    padding: 0px 4px 0px 10px;
    cursor: pointer;
    line-height: 28px;
}

.menu-entry:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    background-color: var(--popup-entry-hovered-bg-color);
}

.menu-status-italic {
    padding: 0px 2px 0px 10px;
    font-style: italic;
    display: none;
    line-height: 28px;
}

#div_status_beta {
    padding-left: 10px;
}

#titletext {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    margin: 0px;
    padding: 10px;
    background-color: var(--popup-block-ads-bg-color);
}

#link_open {
    padding: 3px 0px 3px 10px;
    display: inline-block;
}

#link_close {
    margin-top: -7px;
}

#block_counts {
    display: none;
}

#block_counts.remove-bottom-margin {
    margin-bottom: 0px;
}

.header {
    font-weight: bold;
}

.block_count_number {
    font-weight: bold;
    color: var(--block-count-color);
}

a {
    color: var(--link-color);
}

a:hover {
    font-weight: bold;
    color: var(--popup-link-hovered);
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.italic {
    font-style: italic;
}

#div_adblock_protect_enrollment {
    height: 98px;
    background-color: #2283f3;
    cursor: text;
    margin: 0px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

#protect_enrollment_text {
    letter-spacing: -0.09px;
    color: white;
    height: 37px;
    font-size: 14px;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 11px;
    margin-left: 14px;
    margin-right: 18px;
}

#newText {
    color: #e7b202;
    font-weight: bold;
    font-size: 14px;
}

#newText_v2 {
    color: white;
    background-color: #03bcfc;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    padding: 1px 5px;
    line-height: normal;
    margin: 0 5px 0 0;
}

#mabNewCtaClose {
    display: none;
    height: 100%;
    width: 28px;
    text-align: center;
    vertical-align: center;
}

#mabNewCtaClose > i {
    color: white;
}

#div_myadblock_enrollment_v2 {
    display: flex;
    align-items: center;
}

#div_myadblock_enrollment_v2:hover {
    padding-right: 0;
    color: white;
    background-color: #2284f7;
}

#div_myadblock_enrollment_v2:hover > #mabNewCtaText > span {
    display: none;
}

#div_myadblock_enrollment_v2:hover > #mabNewCtaText::after {
    font-weight: bold;
}

#div_myadblock_enrollment_v2:hover > #mabNewCtaClose {
    display: inline-block;
    background-color: #03bcfc;
    margin-left: auto;
}

.right {
    float: right;
}

.header-logo {
    content: var(--adblock-logo-url);
    cursor: pointer;
    height: auto;
    width: 45%;
}

#header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-icons .material-icons {
    color: var(--popup-accent-color);
    opacity: 0.5;
}

#header-icons .material-icons:hover {
    opacity: 1;
}

#header-icons .material-icons:focus {
    outline: var(--link-color) auto 5px;
    opacity: 1;
}

#banner_review {
    background-color: #57C17C;
    padding: 10px 5px;
}

#banner_review > a {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#banner_review:hover {
    background-color: #57C17C;
}

#div_slideout:hover {
    background-color: #3ABB5F;
}

#div_sync_outofdate_error_msg,
#div_sync_error_msg,
#div_sync_outofdate_error_msg a,
#div_sync_outofdate_error_msg a span {
    background-color: var(--sync-error-msg-background-color);
    color: var(--sync-msg-color);
    text-align: center;
    cursor: pointer;
    line-height: 22px;
    padding: 0px 4px 0px 10px;
    font-size: 14px;
}

#div_sync_outofdate_error_msg,
#div_sync_error_msg {
    cursor: unset;
    display: none;
}

#div_sync_outofdate_error_msg a span {
    color: var(--sync-msg-color);
    text-decoration: underline;
    padding: 0px 0px 0px 0px;
}

#div_sync_outofdate_error_msg a:hover {
    font-weight: normal;
}

#div_sync_outofdate_error_msg a span:hover {
    font-weight: normal;
}

/* Retina & hi DPI displays only */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

#default_theme .header-logo {
    content: url(icons/default_theme/logo_svg.png);
}
